@CHARSET "UTF-8";

.c{
	list-style-type: none;
	cursor: pointer;
	border-spacing: 1px;
	vertical-align: middle;
	border-collapse: separate;
	white-space: nowrap;
	text-overflow: ellipsis;
	table-layout: fixed;
	overflow: visible;
	display:inline-block;
}