@CHARSET "UTF-8";

.layout-test{
	overflow: visible;
	max-height: 30%;
	cursor:pointer;
	position: relative;
	clear: both;
	border-collapse: separate;
	border-spacing: 5px;
	overflow:visible;
	background-size: contain;
	background-attachment:fixed;
	border-style: none;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}



.layout-title{
	font-family:"微软雅黑", "Dosis", sans-serif;  
    font-size: 30px;  
    text-align: center;  
    font-weight: bold;  
    line-height:30px;  
    text-transform:uppercase;  
    position: relative;  
    color:#FFD300;
    text-shadow:
        0px 0px 0 #b89800, 
        1px -1px 0 #b39400, 
        2px -2px 0 #ad8f00, 
        3px -3px 0 #a88b00, 
        4px -4px 0 #a38700, 
        5px -5px 0 #9e8300, 
        6px -6px 0 #997f00, 
        7px -7px 0 #947a00, 
        8px -8px 0 #8f7600, 
        9px -9px 0 #8a7200, 
        10px -10px 0 #856e00, 
        11px -11px 0 #806a00, 
        12px -12px 0 #7a6500, 
        13px -13px 12px rgba(0, 0, 0, 0.55), 
        13px -13px 1px rgba(0, 0, 0, 0.5);
}

.layout-logo{
	background-color: #d35400;
	height: 100%;
	padding-left: 10px;
	line-height:80px;
}