@CHARSET "UTF-8";

.main-logo-default {
	background-color: #0d918c;
}

.main-logo-sea {
	background-color: #5B9BD5;
}

.main-logo-red {
	background-color: #b6294c;
}

.main-logo-dark-blue {
	background-color: #2b2d32;
}


.main-copyright {
	height: 28px;
	line-height: 28px;
	text-align: center;
}
.main-title {
	font-size: 20px;
    padding: 10px;
}
.main-center{
	padding-left: 10px;
	line-height: 32px;
}
.main-marquee-img {
	width: 100%;
	height: 100%;
}
.main-title-img {
	width: 97px;
	height: 108px;
	float: right;
}