 @charset "utf-8";
/* reset */
html { height: 100%; overflow-x:hidden; }
body { min-height: 100% }
body { _height: 100% }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0; padding: 0 }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, p, blockquote, figure, header, footer, nav, article, section, aside, address, figcaption { *zoom: 1 }
li { list-style-type: none }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal;}
iframe, frame, fieldset, img { border: 0 none }
img { vertical-align: top }
input[type=button], input[type=submit], input[type=reset] { cursor: pointer }
button { cursor: pointer }
input[type=text], input[type=password], input[type=file], textarea { -webkit-border-radius: 0; -webkit-appearance: normal }
input[type=search] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box }
textarea { overflow: auto; resize: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none }
table { border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
th { font-weight: normal }
em, cite, address,i { font-style: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
body, input, select, button, textarea { font-size: 14px; font-family:"瀹嬩綋",arial,"\5b8b\4f53";  }
body { line-height:1.5;}
a { text-decoration: none }
a { blr:expression(this.onFocus=this.blur()) }
a * { *cursor: pointer }
:focus { outline: none }

.edit_con_original{ line-height:1.8; padding:0 0; color:#333;}
.edit_con_original li { list-style-type: disc }
.edit_con_original h1 { font-size: 2em }
.edit_con_original h2 { font-size: 1.5em }
.edit_con_original h3 { font-size: 1.17em }
.edit_con_original h4 { font-size: 1em }
.edit_con_original h5 { font-size: 0.83em }
.edit_con_original h6 { font-size: 0.67em }
.edit_con_original em { font-style: italic }
.edit_con_original cite{ font-style: italic }
.edit_con_original address{ font-style: italic }
.edit_con_original i { font-style: italic }
.edit_con_original table{ border-collapse: separate; border-spacing: 2px }
.edit_con_original img{ max-width:100%; height:auto;}
/*鎵€鏈夊悗鍙扮紪杈戝櫒鍖哄煙閮借寮曠敤 edit_con_original 绫诲悕*/

/* clear 椤靛ご锛岄〉鑴氾紝鍐呭鍖洪兘涓嶇敤鍐嶅姞娓呴櫎鏍峰紡 */
.fixed:after, .clearfix:after, .cf:after, .header:after, .main:after, .footer:after { content: " "; display: block; clear: both; height: 0; overflow: hidden }
.fixed, .clearfix, .cf, .header, .main, .footer { *zoom: 1 }
.clear, .cl { display: block!important; float: none!important; clear: both; width: auto!important; max-width: none!important; min-width: 0!important; max-height: none!important; min-height: 0!important; overflow: hidden; margin: 0!important; padding: 0!important; border: 0 none!important; font-size: 0!important; line-height: 0!important }
.lt9 .t-shadow { filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#99000000", EndColorStr="#99000000") }
.t-shadow {background: rgba(0, 0, 0, .5)}
.hide{ display: none }
.fl{ float:left}
.fr{ float:right;}             
			  
/**************************棣栭〉********************************/
.returnTop { background: url(../images/returnTop.jpg) right top no-repeat; right: 0 !important; bottom: 67px; display: block; height:38px; line-height:38px; overflow: hidden; position: fixed; text-indent: -9999em; width:38px;z-index: 99 }
.home_page .returnTop, .sub_station_home_page .returnTop { display: none !important }
.wapper{}
.head_left { float:right}
.header{width:100%;}
.header .head_topbg{ height:33px; border-top:5px solid #960001; background:#444444;}
.head_top{ max-width:1260px; margin:0px auto; line-height:32px; color:#fff; position:relative; z-index:1;}
.head_top a{color:#fff; margin:0 10px; float:left;}
.head_top a.old{ padding-left:28px; background:url(../images/dot01.jpg) left center no-repeat;}
.head_top a.stu{padding-left:30px; background:url(../images/dot02.jpg) left center no-repeat;}
.head_top a.tea{padding-left:30px; background:url(../images/dot03.jpg) left center no-repeat;}
.head_top a.mail{padding-left:30px; background:url(../images/dot04.jpg) left center no-repeat;}
.head_top .login{ display:none; position:absolute; top:0; left:400px;width:204px; height:56px; padding:5px 10px; border:1px solid #960001; background:#fff;z-index:2;}
.head_top .login input{ float:left; width:140px; height:18px; line-height:18px; padding:0 5px; margin:4px 0; background:none; border:1px solid #ABABAB; font-size:12px;}
.head_top .login button{ float:right; margin-top:-10px;width:43px; height:26px; line-height:26px; text-align:center; color:#fff; font-weight:bold; border:none; background:#960001;}
.head_top .login .login_close { position:absolute; right:-6px; top:-6px; font-family:Arial, Helvetica, sans-serif; color:#960001}
.head_mid{ max-width:1260px; margin:0px auto; position:relative;}
.head_mid .menu{ display:none;}
.head_mid a.sear_btn{ position:absolute; top:130px; right:15px;width:22px; height:22px; background:url(../images/dot05.jpg) no-repeat;}

.logo{ float:left; margin:20px 0 0;}
.logo img{max-width:399px; max-height:81px; width:100%;}
.hm_rr{ float:right; width:285px;}
.hm_rr .en_ver{ float:right; margin:30px 0 26px;}
.hm_rr .en_ver a{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#960001;}
.hm_rr .search{ float:right; width:275px; height:28px; border:4px solid #960001;}
.hm_rr .search input{ padding:0 15px; width:245px; height:28px; line-height:28px; border:none; background:none;}
.nav{ height:42px; line-height:42px; border-top:4px solid #080808; background:#960001; *+margin-top:-1px;}
.nav.hide{ display:none;}
.nav ul li{ float:left; /*width:125px;*/width:10%; text-align:center; line-height:42px;position:relative;color:#fff; font-weight:bold; background:url(../images/dot01.jpg) right center no-repeat;}
.nav ul li a{ color:#fff; font-weight:bold;}
.nav ul li a:hover{ color:#fff;}
.nav ul li.active{ background:#444;}
.nav ul li:hover{ background:url(../images/dot01.jpg) right center no-repeat #444444; color:#fff;}
.nav ul li:hover a{ color:#fff; display:block; width:100%; height:42px;}
.nav ul li.home{ width:90px;}
.nav ul li.last{ background:none;}
.nav ul li.last:hover{ background:#444444;}
.nav ul li .down_wrap{ position:absolute; top:42px; left:0; background:#444444; padding:10px 0; display:none;}
.nav ul li dl{ width:100%;}
.nav ul li dl dd{  float:left; padding-left:37px; line-height:28px;text-align:center; background:url(../images/dot09.jpg) 30px center no-repeat;}
.nav ul li dl dd a{ color:#fff; font-weight:normal; text-align:left;}
.nav ul li dl dd.an{  background:url(../images/dot09.jpg) 30px 14px no-repeat;text-align:left;}
.nav ul li dl dd.an span{ color:#fff; font-weight:normal; text-align:left;}
.nav ul li dl dd:hover a{ color:#fff;}
.nav ul li:hover dl dd a{height:28px;}
.nav ul li:hover .down_wrap{ display:block;}
.home_nav li.home,.home_nav li.home:hover { background:#960001}

.nav ul li dl dd em{ display:block; margin-left:10px; font-size:12px; line-height:20px;}
.nav ul li dl dd em a{ background:none;}
.nav li .dw01,.nav li .dw02,.nav li .dw05,.nav li .dw06{width:250px;}
.nav li .dw03{width:768px;}
.nav li .dw07,.nav li .dw08,.nav li .dw09{width:125px;}
.nav li .dw01 dd,.nav li .dw02 dd,.nav li .dw05 dd,.nav li .dw06 dd,.nav li .dw07 dd,.nav li .dw08 dd,.nav li .dw09 dd{ width:88px;}
.nav li .dw01 dt{ float:right; width:88px; height:100px; margin:5px 20px 15px 0; text-align:center; color:#fff;}
.nav li .dw01 dt img{ width:80px; height:80px;}
.nav li .dw03 dd{ width:155px;}


.main{ width:100%;}
.catelogbox{max-width:1474px; margin:0px auto 15px;}
.c_log_ll{ float:left;*margin-left:-1px; width:50%;}
.c_log_rr{ float:left;*margin-left:-1px; width:50%;}
.c_ll01box{padding-left:107px; background:#F7F7F7;}
.c_ll02box{padding-left:107px; background:#3C3C3C;}
.c_ll03box{padding-left:107px; background:#760708;}
.c_rr01box,.c_rr02box{width:100%;}
.c_rr01box img{ width:100%;} 

.c_ll01box .inner{ width:80%; padding:25px 10% 24px;}
.c_ll03box .inner,.c_rr02box .inner{ width:80%; padding:25px 10% 0;}

a.more{ display:inline-block; zoom:1; *display:inline; width:100px; height:24px; line-height:24px; color:#8F0202; font-weight:bold; font-size:12px; text-align:center; border:1px solid #960001;}

.c_ll01box h2{ overflow:hidden; height:26px; line-height:26px; margin-bottom:20px;}
.c_ll01box h2 span{ float:left; color:#060606; font-size:20px; font-weight:bold;}
.c_ll01box h2 a{ float:right;}

.c_ll03box h2{ overflow:hidden;line-height:26px; margin-bottom:20px;}
.c_ll03box h2 span{ float:left; color:#E2D5D5; font-size:20px; font-weight:bold; padding-bottom:5px; border-bottom:4px solid #F7F7F7;}
.c_ll03box h2 a{ float:right; border:1px solid #FFFFFF; color:#FFFFFF;}

.c_rr02box h2{ overflow:hidden;line-height:26px; margin-bottom:20px;}
.c_rr02box h2 span{ float:left; color:#060606; font-size:20px; font-weight:bold;padding-bottom:5px; border-bottom:4px solid #3B3B3B;}
.c_rr02box h2 a{ float:right;}

.c_ll01box dl dt{ float:left; width:100%; margin-bottom:10px;}
.c_ll01box dl dt span{ float:left; width:12%; height:48px; line-height:28px; margin-right:5%; border-right:2px solid #960001; color:#404040; font-family:Arial, Helvetica, sans-serif; font-size:36px;}
.c_ll01box dl dt span em{ display:block; font-size:12px;}
.c_ll01box dl dt a{ float:left; width:82%; line-height:24px; font-size:18px; color:#232222; font-weight:bold;}
.c_ll01box dl dd{ float:left; width:100%; line-height:28px; background:url(../images/dot06.jpg) 0 14px no-repeat;}
.c_ll01box dl dd a{ float:left; padding-left:15px; color:#202020;}
.c_ll01box dl dd a:hover{ color:#8F0202;}
.c_ll01box dl dd span{ float:right; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#555555;}

.c_ll02box ul li{ float:left; width:25%; *margin:0 0 0 -1px; position:relative;}
.c_ll02box ul li img{ width:100%;}
.c_ll02box ul li span{display:none; position:absolute; left:0; bottom:0; width:100%; height:28px; line-height:28px; overflow:hidden;text-align:left; background:url(../images/dot10.png) repeat;}
.c_ll02box ul li span a{font-size:12px; font-weight:bold; color:#EAEAEA;padding-left:8px;}
.c_ll02box ul li:hover span{ display:block;}
.c_ll02box ul li.last em{ width:66px; height:66px; position:absolute; left:50%; top:50%; margin:-33px 0 0 -33px; background:url(../images/dot11.png) no-repeat;}

.list{ padding:0 0 20px;}
.list li{ float:left; width:100%; line-height:28px; background:url(../images/dot09.jpg) 0 14px no-repeat;}
.list li a{ float:left; padding-left:15px; color:#EFC3C3;}
.list li a:hover{ color:#fff;}
.list li span{ float:right; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#EFC3C3;}
.c_rr02box li{ background:url(../images/dot07.jpg) 0 8px no-repeat;}
.c_rr02box li a{color:#202020;}
.c_rr02box li a:hover{ color:#8F0202;}
.c_rr02box li span{color:#555555;}

.ind_imglist{ max-width:1260px; margin:0px auto;}
.ind_imglist ul{ margin:0 -2px;}
.ind_imglist li{ float:left; margin:0px 2px; width:13%;}
.ind_imglist li.w01{}
.ind_imglist li.w02{}
.ind_imglist li.w03{ width:22.2%;}
.ind_imglist li.w04{width:24.6%;}
.ind_imglist li.w05{width:23.3%;}
.ind_imglist li img{ max-height:125px; width:auto; width:100%; border:1px solid #fff;}
.ind_imglist li:hover img{ border:1px solid #D7D7D7;}

.footer{width:100%; margin-top:15px;}
.fnav{ height:auto; padding:30px 0; background:#E6E6E6;}
.fnavlist{ max-width:1260px; margin:0px auto; border-left:1px solid #D4D4D4;}
.fnavlist li{ float:left; width:12.4%; text-align:center; min-height:210px;border-right:1px solid #D4D4D4;}
.fnavlist li h2{ font-size:14px; color:#555555; font-weight:bold;margin-bottom:15px; overflow:hidden;}
.fnavlist li h2 a{font-size:14px;color:#555555;}
.fnavlist li a{ display:block; font-size:12px;color:#808080; height:24px; line-height:24px;}
.copyright{  color:#fff; font-size:12px; padding:15px 10px; background:#000000; font-family:Arial, Helvetica, sans-serif;}
.copyright .ctxt{ max-width:1260px; margin:0px auto; color:#DFDFDF;}
.copyright .ctxt a.xhr{ color:#626262;}
.copyright .ctxt .flink{ float:left; color:#DFDFDF; margin:10px 0 0; line-height:26px;}
.copyright .ctxt .flink a{ float:left;color:#DFDFDF;}
.copyright .ctxt .flink a.default{ cursor:default;}
.copyright .ctxt .flink span{ float:left; padding:0 18px;}
.copyright .ctxt .flink .select-box{float:left;width:218px; height:22px; line-height:22px; position:relative; border:2px solid #003256; background:#fff; margin:0 5px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-ms-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
-moz-box-shadow:0 1px 0 0 #D2D4D4 inset;
-webkit-box-shadow:0 1px 0 0 #D2D4D4 inset;
box-shadow: 0 1px 0 0 #D2D4D4 inset;
}
.copyright .ctxt .flink .select-box dt{ height:22px; overflow:hidden; background:url(../images/dot08.jpg) 188px center no-repeat; padding:0 30px 0px 10px;font-size:12px; color:#000; cursor:pointer;}
.copyright .ctxt .flink .select-box dd{ position:absolute; max-height:200px; overflow-y:auto; overflow-x:hidden; background:#fff; border:2px solid #003256; width:218px; left:-2px; bottom:26px; display:none;}
.copyright .ctxt .flink .select-box dd a{ display:block; width:198px; line-height:2; color:#333; white-space:normal; padding:0 10px;}
.copyright .ctxt .flink .select-box dd a:hover,.select-box dd a.on{ background:#efefef; color:#003256;}
/**************************棣栭〉end********************************/


/**************************瀛︽牎姒傚喌begin********************************/
.banner{ max-width:1578px; margin:0px auto 20px;}
.banner img{ width:100%;}

.middle{ max-width:1260px; margin:0px auto;}
.left{ float:left; width:250px; padding-bottom:300px; background:url(../images/leftbg.jpg) right bottom no-repeat #fff;}
.right{ margin-left:310px; max-width:950px; width:auto;}

.left.posfixed{ position:fixed; left:10px; top:10px; z-index:99;}

.left_tit{ height:45px; line-height:45px; text-align:center; color:#fff; font-size:16px; background:#880001;}
.left_con{border-left:5px solid #880001; border-right:1px solid #D7D7D7;}
.left_con ul li{ float:left; width:100%; line-height:39px;}
.left_con ul li > a{ display:block; padding-left:40px; color:#575757; background:url(../images/dot12.jpg) 210px center no-repeat;  border-bottom:1px solid #D7D7D7;}
.left_con ul li > a:hover,.left_con ul li.on > a{ padding-left:35px;border-left:5px solid #444444;color:#880001; font-weight:bold;background:url(../images/dot13.jpg) 205px center no-repeat;}
.left_con ul li > a.default{ cursor:default;}


.site{line-height:30px; padding-bottom:5px; border-bottom:2px solid #575757; color:#6C6C6C;}
.site a{ color:#6C6C6C;}
.site span{ color:#960001; font-weight:bold;}


.content{ padding:40px 0; overflow:hidden;}
.ab_leader{ padding:50px 13%; background:#FAFAFA;}
.ab_leader ul{}
.ab_leader li{ float:left; width:33%; height:265px;text-align:center; margin:10px 0;}
.ab_leader li.an{ width:100%;}
.ab_leader li img{ max-width:128px; max-height:181px; width:100%; padding:2px; border:1px solid #929292;-moz-box-shadow:1px 1px 2px 2px #C1C1C1;-webkit-box-shadow:1px 1px 2px 2px #C1C1C1;box-shadow: 1px 1px 2px 2px #C1C1C1;}
.ab_leader li span{ display:block; max-width:113px; margin:10px auto; text-align:left; padding-left:15px; background:url(../images/dot14.jpg) 0px 2px no-repeat;}
.ab_leader li span a{ font-weight:bold; color:#0C0C0C;}
.ab_leader li span em{ display:block; font-size:12px; color:#565656;}

.ab_article dl{ padding:0 0 30px;}
.ab_article dt{ float:right; width:25%; margin-top:30px;}
.ab_article dt img{ border:1px solid #D3D3D3; padding:3px; max-width:172px; width:100%; height:auto}
.ab_article dd{ float:left; width:70%;}
.ab_article dd h2.name{ font-size:26px; font-weight:bold;}

a.close{ float:right; width:100px; height:28px; line-height:28px; text-align:center; font-size:12px; font-weight:bold; color:#fff; background:#8F0202}

.ab_orgbox{ float:left; width:100%; margin-bottom:20px;border-bottom:1px dotted #C7C7C7;}
.ab_otit{ color:#880001; font-size:18px; font-weight:bold; padding-bottom:10px;}
.ab_ocon{ padding:0 0 20px;}
.ab_ocon li{ float:left; width:100%;line-height:18px; padding:15px 0; background:url(../images/dot15.jpg) left bottom repeat-x;}
.ab_ocon li.odd{ background:#fff;}
.ab_ocon li span{ float:left; width:33.3%;}
.ab_ocon li span a,.ab_ocon li span em{ display:block; color:#4D4D4D; padding-left:15%;}
.ab_ocon li span a:hover,.ab_ocon li span em:hover{color:#880001; font-weight:bold;}
.ab_ocon li span b{ font-size:16px; color:#202020;padding-left:15%;}
.ab_orgbox.last{ border-bottom:none; margin-bottom:0;}

.tab_tit{ width:30%; margin:0px auto 25px;}
.tab_tit li{ float:left; margin:0 30px; padding-bottom:5px; color:#2C2C2C; font-size:20px; font-weight:bold; cursor:pointer;}
.tab_tit li.on{ color:#960001; border-bottom:4px solid #960001;}
.addressbox{ margin:30px 0 0;}
.addressbox h2{ font-size:24px; color:#202020; font-weight:bold; margin-bottom:10px;}
.addressbox p{ padding:12px 0; color:#333333; line-height:1.8;}
.addressbox p em{ padding-right:15px; vertical-align:middle;}
/**************************瀛︽牎姒傚喌end********************************/


/**************************甯堣祫闃熶紞begin********************************/
.teachers_list{ border-top:1px dotted #C7C7C7; margin:40px 0 20px;}
.teachers_list li{ float:left; width:100%; background:#fff; border-bottom:1px dotted #C7C7C7; padding:40px 0 10px;}
.teachers_list li.odd{ background:#FCFCFC;}
.teac_ll{ float:left; width:28%;}
.teac_ll b{ color:#333333; padding-left:40px; background:url(../images/dot21.jpg) 15px center no-repeat;}
.teac_rr{ float:left; width:72%; color:#757575;}
.teac_rr span{ float:left; width:20%; padding-bottom:30px;}
.teac_rr span a{color:#757575;}
.teac_rr span a.a_red{ color:#8B0708; text-decoration:underline;}
 
.teacher_info{ padding:0 0 20px;}
.teacher_info dt{ float:left; width:135px;}
.teacher_info dt img{ width:128px; height:180px; margin-bottom:20px; padding:1px; border:1px solid #C3C2C2;-moz-box-shadow:1px 1px 2px 1px #C3C2C2;-webkit-box-shadow:1px 1px 2px 1px #C3C2C2;box-shadow: 1px 1px 2px 1px #C3C2C2;}
.teacher_info dt span{ font-weight:bold; color:#333333; display:block; margin-bottom:5px;}
.teacher_info dd{ margin-left:185px;width:auto; color:#333333;}
.teacher_info dd b{ padding:10px 0; display:block;}
.teacher_info dd p{ color:#0A0A0A; padding-bottom:10px;}
/**************************甯堣祫闃熶紞end********************************/

/**************************鏍″洯鐢熸椿begin********************************/
.left_con .lcon{ float:left; width:100%; padding:5px 0; border-bottom:1px solid #D7D7D7;}
.left_con .lcon a{ display:block; height:26px; line-height:26px; font-size:12px; padding-left:80px; color:#575757; background:url(../images/dot22.jpg) 60px center no-repeat;}
.left_con .lcon a:hover,.left_con .lcon a.on{ font-weight:bold; color:#880001;background:url(../images/dot23.jpg) 60px center no-repeat;}

.campus{}
.campus .tit{ float:left; padding:5px 20px 5px 35px; margin:0 0 20px;color:#880001; font-weight:bold; background:url(../images/dot21.jpg) 16px center no-repeat #F9F9F9;}
.campus .con{ float:left; width:100%; overflow:hidden; color:#333333; padding:0 0 50px;}
.campus .con span img{ float:left; width:32.4%; height:auto; margin:0 0.4%;}

.viewshow{ max-width:866px; margin:0px auto 20px;}

.show_cont { position:relative; margin:0px auto; width:100%; overflow:hidden;}
.show_cont ul { position:absolute; left:0; top:0; height:100%;}
.show_cont ul li { float:left; height:100%; text-align:center;}
.show_cont ul li,.show_cont ul li img{ position:relative}
.show_key { position:absolute; top:50%; margin-top:-32px}
.show_img_prev { left:0px}
.show_img_next { right:0px}
.auto_img{ margin:0 auto;}
.show_scroll_l{ background:url(../images/dot26.png) no-repeat center center #7F7F7F; width:24px; height:88px; position:absolute; left:0; top:50%; margin-top:-44px;}
.show_scroll_r{ background:url(../images/dot27.png) no-repeat center center #7F7F7F; width:24px; height:88px; position:absolute; right:0; top:50%; margin-top:-44px;}
.show_scroll_l:hover{background:url(../images/dot26.png) no-repeat center center #880001;}
.show_scroll_r:hover{background:url(../images/dot27.png) no-repeat center center #880001;}

.show_scroll{ width:100%; clear:both; margin:15px 0; overflow:hidden; position:relative;}
.show_scroll_cont{ margin:0 auto; overflow:hidden; width:90%;}
.show_scroll ul{ width:8000%; position:relative; left:0;}
.show_scroll ul li{ float:left; position:relative; margin-right:8px; cursor:pointer}
.show_scroll ul li img{ width:100%;}

.viewinfo h2{ font-size:26px; font-weight:bold; color:#0A0A0A; padding-bottom:10px; text-align:center;}
/**************************鏍″洯鐢熸椿end********************************/


/**************************缁勭粐鏈烘瀯begin********************************/
.as_org{ padding:0 0 20px;}
.as_org li{ float:left; width:100%;line-height:18px; padding:15px 0; background:#F9F9F9;}
.as_org li.odd{ background:#fff;}
.as_org li span{ float:left; width:25%;*margin-left:-1px}
.as_org li span a,.as_org li span em{ display:block; color:#4D4D4D; padding-left:15%; background:url(../images/dot21_h.jpg) 12% 6px no-repeat;}
.as_org li span a:hover,.as_org li span em:hover{ color:#880001; font-weight:bold;background:url(../images/dot21.jpg) 12% 6px no-repeat;}
.as_org li span b{ font-size:16px; color:#202020;padding-left:15%;}
/**************************缁勭粐鏈烘瀯end********************************/

/**************************浜烘墠鎷涜仒begin********************************/
.hrbox{}
.hrbox .tit{ font-size:18px; color:#880001; font-weight:bold; padding-bottom:20px;}
.hrbox .con{ line-height:2;color:#333;}
.hrbox .con a{ color:#333;}
.hrbox .con a.down{ text-decoration:underline; color:#880001;}
/**************************浜烘墠鎷涜仒end********************************/


/**************************閫氱煡鍏憡begin********************************/
.newslist{}
.newslist li{ float:left; width:100%; padding:15px 0; line-height:18px; background:url(../images/hline.jpg) left bottom repeat-x;}
.newslist li a{ float:left; color:#565656; padding-left:10px; background:url(../images/dot28.jpg) left 8px no-repeat;}
.newslist li em{ float:right; color:#949494; font-family:Arial, Helvetica, sans-serif; font-size:12px;}

/*鏂伴椈鍐呭*/
.news_cont { padding: 20px 20px 30px; }
.news_cont h2 { font-size:22px; font-weight:bold; text-align: center; border-bottom: 1px solid #E6E6E6; padding: 10px 0 15px; color: #0A0A0A; margin: 0 0 25px }
.news_cont .bon { display:block; text-align:center; color: #8C8C8C; font-size:12px; padding:10px 0 0; font-weight:normal;}
.news_cont .bon .red { }
.news_cont .bon span { display: inline-block; margin: 0 10px; min-width: 80px; }
.news_cont .bon span.a_size i { display: inline-block; padding: 0 4px; cursor: pointer; font-family:Arial, Helvetica, sans-serif;}
.news_cont .bon span.a_size i.on { color: #880001; font-weight: bold;}
.news_cont .bon span.a_size i.small{ font-size:12px;}
.news_cont .bon span.a_size i.mid{ font-size:14px;}
.news_cont .bon span.a_size i.big{ font-size:16px;}
.news_cont .bon span.a_print { min-width: 40px; }
.news_cont .bon span.a_print a { color: #8C8C8C; }
.news_cont .bon span.a_print a:hover { color: #880001; }
.news_article { font-size: 14px; line-height: 24px; color:#565656;}
.share { margin: 30px 0 15px; border-bottom: 1px solid #CFCFCF; padding:10px 20px 20px; }
.share .fl { width: 250px; float: left; line-height: 30px; }
.share .fl span { float: left; font-weight:bold;}
.share .fr { float: right; }
.updown {color: #575757; padding:0 20px;}
.updown span { display: block; padding: 5px 0; }
.updown span label{ color:#202020; font-weight:bold;}
.updown span a { color: #575757; text-decoration:underline;}
.updown span a:hover { color: #8F0202; }

/* 鍒嗛〉浠ｇ爜 */
.page .phone { display: none; }
.page .pc { padding: 25px 0;}
.page { vertical-align: middle; text-align: center; margin: 30px 0px; color: #606060; line-height: 20px; }
.page input { vertical-align: middle; }
.page span { display: inline-block; margin: 0 2px; }
.page span em { color: #960001; font-family: Arial, Helvetica, sans-serif; }
.page a { vertical-align: middle; display: inline-block; width: 20px; height: 20px; line-height: 20px; text-align: center; color: #000; font-family: Arial, Helvetica, sans-serif; }
.page a.on, .page a:hover { background: #F0F0F0; color: #960001; }
.page a.prev { width: 14px; background: url(../images/page_03.png) center center no-repeat; margin: 0px 10px 0px 0px; }
.page a.next { width: 14px; background: url(../images/page_04.png) center center no-repeat; margin: 0px 0px 0px 12px; }
.page a.first { width: 40px; background: url(../images/page_01.png) center center no-repeat; }
.page a.last { width: 40px; background: url(../images/page_02.png) center center no-repeat; }
.page .txtnum { width: 30px; height: 16px; line-height: 16px; background: #fff; border: 1px solid #CECECE; }
.page .txtnum input { width: 30px; height: 16px; line-height: 16px; *line-height:15px;
text-align: center; color: #333; font-family: Arial, Helvetica, sans-serif; font-size: 12px; background: none; border: none; }
.page a.go { width: 30px; height: 18px; line-height: 18px; background: #960001; color: #F5EDEC; margin-top: -2px; *margin-top:0px;
}

/* search 鎼滅储缁撴灉 */
.searchbox{}
.searchbox .bd{ padding:0 20px; line-height:50px; overflow:hidden; border-bottom:2px solid #EEEEEE; background:#FBFBFB;}
.sear_ll { float:left;color:#000000;}
.sear_ll em{ color:#960001;}
.sear_sear{ float:right;}
.sear_sear label{float:left;font-weight:bold;}
.sear_sear span{float:left; width:470px; height:25px; line-height:25px; border:1px solid #BCBCBC; margin:12px 0 0;}
.sear_sear span input{width:450px; height:24px; line-height:25px; padding:0px 10px; background:#fff; border:none;color:#333;}
.sear_sear a.btn_ser{ float:left; width:68px; height:27px; line-height:27px; margin:12px 10px 0 5px; text-align:center;font-size:12px; font-weight:bold; color:#fff; background:#8F0202;}
.sear_sear a.btn_ser_two{float:left;margin:12px 0px 0;width:100px; height:23px; line-height:23px; color:#8F0202; text-indent:34px; font-size:12px; font-weight:bold; border:2px solid #8F0202;background: url(../images/dot29.jpg) 13px center no-repeat;}

.searchbox .ft{ padding:30px 20px 0;}
.searchbox .ft .t { margin-bottom:20px; font-size:14px; font-weight:bold; line-height:16px}
.searchbox .ft .t:hover{ text-decoration:underline;}
.searchbox .ft .t a { display:inline-block; color:#0A0A0A; padding-right:20px;background:url(../images/dot29.jpg) right center no-repeat; line-height:16px}
.searchbox .ft .t .k { color: #8F0202 }
.searchbox .ft .c { color: #565656; line-height:20px;}
.searchbox .ft li { padding-bottom: 25px; margin-bottom:25px; background:url(../images/hline.jpg) left bottom repeat-x;}
.searchbox .ft li.last{ margin-bottom:0;}

.h20{ height:20px;}

/*浜屾妫€绱�*/
.twosearbox{ background:#FCFCFC; margin-bottom:40px; padding:20px 0;}
.ts_txt{ width:50%; margin:0 auto;}
.ts_txt li{ float:left; width:100%;line-height:28px; margin:12px 0; position:relative;}
.ts_txt li em{ float:left; color:#000000; width:90px; font-weight:bold; text-align:right;}
.ts_txt li span{ float:left; width:100%;}
.ts_txt li span .inp{ width:95%; height:26px; line-height:26px; border:1px solid #8C8C8C;}
.ts_txt li span .inp input{ width:95%; padding-left:10px; height:26px; line-height:26px; border:none; background:none;}
.ts_txt li span .inp .date_input{color:#7B7777; font-family:Arial, Helvetica, sans-serif; font-size:12px;background:url(../images/calendar_day.png) right center no-repeat;}

.ts_txt li span .select-box{ float:left;width:95%; height:26px; line-height:26px; position:relative; border:1px solid #8C8C8C; background:#fff;}
.ts_txt li span .select-box dt{width:98%;padding-left:10px;color:#7B7777; height:26px; overflow:hidden; background:url(../images/dot30.jpg) 96% center no-repeat;font-size:12px; cursor:pointer;}
.ts_txt li span .select-box dd{ position:absolute; max-height:200px; overflow-y:auto; overflow-x:hidden; background:#fff; border:1px solid #8C8C8C; width:100%; left:-1px; top:26px; display:none;}
.ts_txt li span .select-box dd a{ display:block;line-height:2; color:#333; font-size:12px; white-space:normal; padding:0 10px;}
.ts_txt li span .select-box dd a:hover,.select-box dd a.on{ background:#efefef; color:#003256;}
.ts_txt li span .select-box.an{width:30%;}
.ts_txt li span .select-box.an dt{background:url(../images/dot30.jpg) 84% center no-repeat;}
.ts_txt li span .inp.an{float:left; margin-left:10px;width:62.7%;}
.ts_txt li span .inp.an input{ width:98%; font-size:12px; color:#7B7777; padding-left:2%; height:26px; line-height:26px; border:none; background:none;}
.ts_txt li a.btn_cx{ display:block; margin:0px auto; font-weight:bold; width:100px; height:34px; line-height:34px; text-align:center; color:#fff; border-bottom:3px solid #6D0000; background:#8F0202;}

.twoseartab tr{ background:#fff;}
.twoseartab tr.odd{background:url(../images/dot15.jpg) left bottom repeat-x;}
.twoseartab tr th{ color:#fff; text-align:center; height:42px; line-height:42px; background:url(../images/dot31.jpg) right center no-repeat #8F0202;}
.twoseartab tr th.last{background:#8F0202;}
.twoseartab tr td{line-height:18px; padding:15px 0; text-align:center;}
.twoseartab tr td.d01,.twoseartab tr th.d01{ width:40%; text-align:left; padding-left:30px;}
.twoseartab tr td.d02,.twoseartab tr th.d02 { width:20%}
.twoseartab tr td.d03,.twoseartab tr th.d03 { width:20%}
.twoseartab tr td.d04,.twoseartab tr th.d04 { width:20%; font-family:Arial, Helvetica, sans-serif;}
.twoseartab a { color:#000}
.twoseartab a:hover { color:#8f0202}
.students li{ float:left; width:100%; padding:50px 0; background:url(../images/hline.jpg) left bottom repeat-x;}
.students li.first{ padding-top:0; padding-bottom:0}
.students li .stu_tit{float:left; width:80px; margin:0 32px 0 0; padding:5px 5px 5px 15px ;color:#880001; font-weight:bold; background:url(../images/dot21.jpg) 15px center no-repeat #F9F9F9; text-align:center}
.students li .stu_tit a { color:#880001}
.students li .stu_con{ margin-left:160px; width:auto;}
.students li .stu_con span{ float:left; width:16%;color:#202020;line-height:30px;}
.students li .stu_con span.an{ width:30%;}
.students li .stu_con span a{color:#202020;}
.students li.first .stu_tit { margin:0}

.students li .stu_con dl dd{ float:left; width:46%;line-height:18px; padding:5px 0; background:url(../images/dot28.jpg) left center no-repeat;}
.students li .stu_con dl dd.odd{ float:right; margin-right:10px;}
.students li .stu_con dl dd a{ float:left; padding-left:18px; color:#202020;}
.students li .stu_con dl dd em{ float:right; color:#960001; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.wechat_box { display:none; position:fixed; left:50%; top:50%; margin:-153px 0 0 -153px; width:300px; height:320px; border:3px solid #880001; background:#fff; text-align:center}
.wechat_box .wechat_close { font-family:Arial, Helvetica, sans-serif; position:absolute; right:5px; top:5px; color:#880001; font-size:20px}
.wechat_box img { display:block; margin:26px auto 0}
.wechat_box p { font-weight:bold; font-size:16px; line-height:48px}
/**************************閫氱煡鍏憡end********************************/
.twoseartab a { display:block}
.c_ll01box dl dd a,.twoseartab a {overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.news_web_more { padding:10px 10px 15px 0 ; text-align:right; line-height:40px }
.news_web_more a { color:#880001; font-weight:bold}
@media only screen and (max-width: 1440px) {
.c_ll01box .inner { padding-bottom:17px}

}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
.nav ul li.home{ width:75px;}
.c_ll01box,.c_ll02box,.c_ll03box{ padding-left:0;}

.c_ll01box .inner,.c_ll03box .inner, .c_rr02box .inner{ width:94%; padding:10px 3%;}
.catelogbox { max-width:1260px}
.c_ll01box .inner { padding-bottom:17px}
/*浜岀骇椤甸潰閫傚簲*/
.tab_tit{ width:38%;}
.students li .stu_con{ margin-left:138px;}
.students li .stu_con dl dd{ width:48%;}
/*宓屽鑷€傚簲*/
.content .students ul iframe{height:350px;}

}



@media only screen and (min-width: 768px) and (max-width: 1023px) {
.wapper{ padding:0 10px;}
.fnavlist li{ height:250px; width:24.5%;}
.nav li .dw03{ width:428px;}	

.c_ll01box,.c_ll02box,.c_ll03box{ padding-left:0;}
.c_ll01box .inner,.c_ll03box .inner, .c_rr02box .inner{ width:98%; padding:10px 1%;}
.c_ll01box dl dd span,.list li span{ display:none;}
.copyright .ctxt .flink span{ padding:0 10px;}
.as_org li span { width:33%;}
.as_org li span b { font-size:14px}

/*浜岀骇椤甸潰閫傚簲*/
.ab_leader{ padding:0}
.tab_tit{ width:61%;}
.students li .stu_con dl dd{ width:98%;}
.students li .stu_con dl dd.odd{ float:left; margin-right:0;}
.students li .stu_con span{ width:33%;}

.as_org li span a, .as_org li span em{background:url(../images/dot21_h.jpg) 8% 6px no-repeat;}
.as_org li span a:hover,.as_org li span em:hover{background:url(../images/dot21.jpg) 8% 6px no-repeat;}

.sear_sear span{ width:400px;}
.sear_sear span input{ width:380px;}

.ts_txt{ width:100%;}
.teac_ll { float:none; width:auto}
.teac_rr { float:none; width:auto; margin:20px 0 0 14px}
.content .students ul iframe{height:380px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.twoseartab tr td.d01, .twoseartab tr th.d01,.twoseartab tr td.d03, .twoseartab tr th.d03, .twoseartab tr td.d04, .twoseartab tr th.d04 { width:33%}
.twoseartab tr th:first-child + th,.twoseartab tr td:first-child + td { display:none}	

.ab_article dt { float:none; margin:0 0 30px; width:100%;}
.ab_article dd { float:none; width:100%;}

.wapper{ padding:0 10px;}
.head_top .login{ left:0;}

.hm_rr{ width:100%;}
.hm_rr .en_ver{ margin:5px 0 0 10px;}
.head_mid .menu{ position:absolute; display:block; left:0px; top:105px;}	
.nav{ display:none;}
.nav.show{ display:block;}
.head_mid a.sear_btn{ top:112px; right:125px; background:url(../images/dot29.jpg) no-repeat;}

.nav ul li{ width:100%; background:#960001;}
.nav ul li .down_wrap{ position:relative; width:100%; top:0; left:0; padding:0 0 10px;}
.nav ul li.last{ background:#960001;}

.c_log_ll,.c_log_rr{ width:100%;}
.c_ll01box,.c_ll02box,.c_ll03box{ padding-left:0;}
.c_ll01box .inner{ width:98%; padding:25px 1% 24px;}
.c_ll03box .inner, .c_rr02box .inner{width:98%; padding:25px 1% 0;}
.ind_imglist li.w05{ width:22.6%;}
.fnavlist li{ width:49%; height:250px;}

 
/*浜岀骇椤甸潰閫傚簲*/
.nav ul li.home{ width:100%;}
.left{ padding-bottom:30px;}
.right{ float:left; margin:0; width:100%;}

.ab_leader{ padding:0}
.tab_tit{ width:61%;}
.students li.first .stu_con{ margin-left:0;}
.students li .stu_con dl dd{ width:98%;}
.students li .stu_con dl dd.odd{ float:left; margin-right:0;}
.students li .stu_con span{ width:100%;}

.as_org li span a, .as_org li span em{background:url(../images/dot21_h.jpg) 5% 6px no-repeat;}
.as_org li span a:hover,.as_org li span em:hover{background:url(../images/dot21.jpg) 5% 6px no-repeat;}
.sear_sear{ width:100%; padding-bottom:15px;}
.sear_sear span{ width:95%; margin:0;}
.sear_sear span input{ width:90%;}
.sear_sear a.btn_ser{ margin-left:0;}


.page .pc{ display:none;}
.page .phone{ display:block; width:50%; margin:0px auto; border:1px solid #ccc; color:#0B4487;}
.page .phone select{ width:100%; text-align:center; border:none; background:none; cursor:pointer;}
.page .phone select option{width:100%; height:20px; line-height:20px; text-align:center; color:#333;}

.ts_txt{ width:100%;}
.ts_txt li em{ text-align:left;}
.twoseartab tr td.d01{ padding-left:0;}
.as_org li span { width:auto}
.as_org li span b { padding:0}
.as_org li span { margin:0 3px 0 0}
.ab_ocon li { background:#f7f7f7}
.teac_ll { float:none; width:auto}
.teac_rr { float:none; width:auto; margin:20px 0 0 14px}
.updown { display:none}
}



@media only screen and (min-width: 320px) and (max-width: 479px) {

.ab_ocon li { background:#f7f7f7}
.ab_article dt { float:none; margin:0 0 30px; width:100%;}
.ab_article dd { float:none; width:100%;}
.wapper{ padding:0 5px;}
.head_top .login{ left:0;}
.as_org li span { width:auto}
.as_org li span b { padding:0}
	
.head_top a.old{ padding-right:5px;}
.head_top a{ margin:0px 3px;}
.head_top a.stu,.head_top a.tea,.head_top a.mail{ padding-left:25px;}

.hm_rr{ width:100%;}
.hm_rr .en_ver{ margin:0; width:100%; text-align:right; height:24px; line-height:24px;}
.hm_rr .search{ width:265px;}
.head_mid .menu{ position:absolute; display:block; left:0px; top:108px;}	
.nav{ display:none;}
.nav.show{ display:block;}
.head_mid a.sear_btn{ top:120px; right:5px; background:url(../images/dot29.jpg) no-repeat;}
.logo img{ width:310px; height:63px;}
.nav ul li{ width:100%; background:#960001;}
.nav ul li .down_wrap{ position:relative; width:100%; top:0; left:0; padding:0 0 10px;}
.nav ul li.last{ background:#960001;}

.c_log_ll,.c_log_rr{ width:100%;}
.c_ll01box,.c_ll02box,.c_ll03box{ padding-left:0;}
.c_ll01box .inner{ width:98%; padding:25px 1% 24px;}
.c_ll03box .inner, .c_rr02box .inner{width:98%; padding:25px 1% 0;}
.ind_imglist li.w05{ width:22.6%;}
.fnavlist li{ width:49%; height:250px;}

.c_ll01box dl dt span{ width:16%;}
.c_ll01box dl dt a{ width:78%;}
.c_ll02box ul li{ width:100%;}
.ind_imglist li,.ind_imglist li.w03,.ind_imglist li.w04,.ind_imglist li.w05{ width:100%;}

/*浜岀骇椤甸潰閫傚簲*/
.nav ul li.home{ width:100%;}
.left{ padding-bottom:30px;}
.right{ float:left; margin:0; width:100%;}

.ab_leader{ padding:0}
.ab_leader li{ width:50%;}
.tab_tit{ width:85%;}
.teac_rr{ width:70%; margin-left:2%;}
.campus .con span img{ width:100%; margin:0;}

.students li.first .stu_con{ margin-left:0;}
.students li .stu_con dl dd{ width:98%; background:url(../images/dot28.jpg) no-repeat left 14px;}
.students li .stu_con dl dd.odd{ float:left; margin-right:0;}
.students li .stu_con span{ width:100%;}

.as_org li span a, .as_org li span em{background:url(../images/dot21_h.jpg) 5% 6px no-repeat;}
.as_org li span a:hover,.as_org li span em:hover{background:url(../images/dot21.jpg) 5% 6px no-repeat;}

.sear_sear{ width:100%; padding-bottom:15px;}
.sear_sear span{ width:95%; margin:0;}
.sear_sear span input{ width:90%;}
.sear_sear a.btn_ser{ margin-left:0;}


.page .pc{ display:none;}
.page .phone{ display:block; width:50%; margin:0px auto; border:1px solid #ccc; color:#0B4487;}
.page .phone select{ width:100%; text-align:center; border:none; background:none; cursor:pointer;}
.page .phone select option{width:100%; height:20px; line-height:20px; text-align:center; color:#333;}

.ts_txt{ width:100%;}
.ts_txt li em{ text-align:left;}
.twoseartab tr td.d01{ padding-left:0;}
.as_org li span { width:50%}
.teac_ll { float:none; width:auto}
.teac_rr { float:none; width:auto; margin:20px 0 0 14px}
.teac_rr span { width:33%}
.updown { display:none}

.c_ll01box dl dd a{ display:block; width:94%;}
}