 @charset "utf-8";
/* reset */
.banner_box{ position:relative; width:100%; overflow:hidden;}
.banner_box .yx_middle{ position:absolute; top:0; left:50%; margin-left:-630px; width:1260px; text-align:right;}

.yx_middle{ max-width:1260px; margin:0px auto;}
.yx_middle .fl{ width:74.84%;}
.yx_middle .fr{ width:19.2%;}
.translate_list{ padding:20px 28px 0;}
.translate_list li{ float:left; padding:0 40px 60px;}
.translate_list li .inner{ background:#f4f4f4; width:358px; border:1px solid #fff;}
.translate_list li .inner:hover{ border:1px solid #cecece;}
.translate_list a{ color:#090909;}
.translate_list a:hover{ color:#900;}

.translate_list .cont{ padding:15px 15px 18px;}
.translate_list .title{ line-height:34px; font-weight:bold;}
.translate_list .title a:hover{ color:#900;}
.translate_list article{ line-height:22px; height:44px; margin-bottom:18px; overflow:hidden;}
.translate_list .more{ float:right; height:16px; line-height:16px; width:55px; color:#900;}
.translate_list .more:hover{ background:#900; color:#fff;}
.translate_list span{ color:#666;}
.translate_list img{ height:226px; width:358px;}

.site{ position:relative; height:33px;}
.site .bd{ float:left; border-bottom:3px solid #900; height:32px; line-height:32px; padding-bottom:5px; padding-right:28px; position:absolute; left:0; top:0;}
.site .bd span{ font-weight:normal;}

/*page*/
.page {vertical-align:middle;text-align:center; margin:20px 0px; color:#636363; height:30px;}
.page input,.page span ,label,input{vertical-align:top;}
label{line-height:23px;}
.page .endmargin{margin:0;}
.page a {vertical-align:middle;display:inline-block;width:17px;height:17px;line-height:17px;text-align:center;color:#636363;margin:0px 2px; font-family:Arial, Helvetica, sans-serif;}
.page .color{color:#bb2e34;}
.page a.on { width:28px; height:29px; line-height:29px; text-align:center;background:url(../images/page_bg.jpg) no-repeat -3px -2px;color:#bb2e34; }

.page span{height:22px;line-height:22px;vertical-align:middle;}
.page span.txtnum{ display:inline-block;width:29px; height:22px;line-height:22px;background:url(../images/txtnum.jpg) no-repeat left center; margin:0px 8px;vertical-align:middle;}
.page span.txtnum input{width:28px; height:22px; line-height:22px; text-align:center;color:#333; font-family:Arial, Helvetica, sans-serif; font-size:11px; background:none; border:none;}
.page a.go{ font-size:13px;background:#a8080a;font-size:10px;color:#fff;padding:0 5px;height:16px;line-height:16px;}

.yx_middle .page{ padding-bottom:40px; border-bottom:1px solid #a8a8a8;}
.yx_middle .page a:hover{ background:none;}
.yx_middle .page a.on:hover{background:url(../images/page_bg.jpg) no-repeat -3px -2px;}
.yx_middle .page a.first:hover{background:url(../images/page_01.png) no-repeat center center;}
.yx_middle .page a.prev:hover{background:url(../images/page_03.png) no-repeat center center;}
.yx_middle .page a.next:hover{background:url(../images/page_04.png) no-repeat center center;}
.yx_middle .page a.last:hover{background:url(../images/page_02.png) no-repeat center center;}
/*page end*/
.hotNews{ border:1px solid #d7d7d7; margin-bottom:10px;}
.hotNews a{ color:#000;}
.hotNews a:hover{ color:#900;}
.hotNews h4{ line-height:18px; height:18px; padding:16px 0 10px; overflow:hidden; border-bottom:2px solid #900; font-weight:bold;}
.hotNews h4 i{ display:block; float:left; height:18px; width:3px; margin:0 12px 0 22px; background:#575757;}
.hotNews h4 .h_more{ float:right; padding-right:12px; font-weight:normal;}
.hotNews_list{ padding-top:10px;}
.hotNews_list li{ line-height:30px; padding:5px 0 5px 14px;}
.hotNews_list li:hover{ background:#f2f2f2;}
.translate_list a,.details .fp span{ overflow: hidden; text-overflow: ellipsis;white-space: nowrap; display:block;}
.hotNews_list li a:hover{ color:#900;}

.lightRhymeCamel{}
.lightRhymeCamel ul{ padding:26px 6px 18px 19px; }
.lightRhymeCamel ul li{ float:left; margin:0 4% 8px 0; width:45.8%;}
.lightRhymeCamel ul li img{ height:64px; width:100%;}

.hotNews.weixins{ padding:20px 0 15px; background:#f4f4f4; border:1px solid #f4f4f4;}
.hotNews.weixins img{ display:block; margin:0 auto; height:140px; width:149px;}

.td_con{ padding:50px 60px;}
.details{ color:#575757; font-size:12px; line-height:28px;}
.details h2{ font-size:24px; color:#050505; font-weight:bold;}
.details .conts{ padding-top:40px; margin:30px 0 0 0; border-top:1px solid #f4f4f4;}
.details img{ max-width:100%; height: auto; display:block; margin:0 auto;}
.details a{ color:#575757;}
.details a:hover{ color:#900;}
.details a.l_more{ background:#900; border:1px solid #900; color:#fff; width:94px; height:27px; line-height:26px; text-align: center; display:block; float:right; font-size:12px;}
.details .fixed{ margin-top:50px; border-top:1px solid #f4f4f4;}

.details .fp span{ display:block; line-height:18px; margin-bottom:16px; font-size:14px;}


.shares .bdshare-button-style0-24 span{ float:left; margin-right:10px;}
.bdshare_popup_box{ left:320px;}

.picture_wrap{ height:457px;}
.picture_wrap .picture_box .dlWrap span { height:13px; width:13px;}
.picture_wrap .picture_box .dlWrap span.active { background-position:right center;}

.banner_box{ margin:0 auto 20px;}
.banner_box .banner{margin:0 auto;}
.head_top a.alumnus{padding-left:30px; background:url(../images/dot32.png) left center no-repeat;}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	
}
@media only screen and (max-width: 1578px){
	.banner_box{ overflow:hidden;}
	.banner_box .yx_middle img{ width:auto;}
}
@media only screen and (max-width: 1258px){
	.banner_box .yx_middle{ width:100%; left:0; margin:0; }
	.translate_list{ padding:0;}
	.translate_list li{ padding:0 1.5% 3%; width:46.9%;}
	.translate_list li .inner,.translate_list li .inner img{ width:100%;}
	.td_con{ padding:8%;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.hotNews h4 .h_more{ font-size:12px;}
	.page span{ display:none;}
	.td_con{ padding:7%;}
	
}
@media only screen and (max-width: 1023px){
	.shares .autor,.shares .bds_more,.shares .tit{ display:none;}
	
	
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.yx_middle .fl{ float:none; width:100%;}
	.yx_middle .fr{ float:none; width:100%;}
	.page span{ display:none;}
	.td_con{ padding:6%;}
	
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.details h2{ font-size:20px;}
	.yx_middle .fl{ float:none; width:100%;}
	.yx_middle .fr{ float:none; width:100%;}
	.page span,.page a{ display:none;}
	.page a.on,.page a.prev,.page a.next,.page a.first,.page a.last{ display:inline-block;}
	.translate_list li{ padding:0 1.5% 3%; width:96.9%;}
	.td_con{ padding:5%;}
	.details .fp{ padding:20px 0 0;}
	.details .fp span{ font-size:12px;}
}
